body{
    font-size: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 0.5em;
    background-color: #efefef;
}
#id1{
    max-width: 950px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #ffffff;
}
#id2{
    
    width: 150px;
    padding: 15px;
    margin: 10px auto 25px auto;
text-transform: uppercase;
}
ul{
    width: 570px;
    padding: 15px;
margin: 0px auto 0px auto;
border-top: 2px solid #000;
border-bottom: 1px solid #000;
text-align: center;
}
li{
    display: inline;
    margin: 0px 3px;
}
p{
    text-align: center;
    width: 600px;
    margin: 20px auto 20px auto;
    font-weight: normal;
}
a{
    color: #000;
    text-transform: uppercase;
    padding: 6px 18px 5px 18px;

}
#id9{

    color: #cc3333;
    background-color: #ffffff;
}


