body{
    background-color: silver;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: #ffffff;
    background-color: hsla(0,100%,100%,0.5);
    color: #64645A;
    padding: 20px;
}
p{
    margin: 0px;
}
.class2{
    background-color: rgb(0,136,221);
}
.class3{
    background-color: rgb(0,149,226);
}
.class4{
    background-color: rgb(0,160,230);
}
.class5{
    background-color: rgb(48,170,233);
}
.class6{
    background-color: rgb(84,182,237);
}
.class7{
    background-color: rgb(114,193,240);
}
.class8{
    background-color: rgb(140,202,242);
}
.class9{
    background-color: rgb(0,187,136);
}
.class10{
    background-color: rgb(245,176,204);
}
.class11{
    background-color: rgb(246,159,192);
}
.class12{
    background-color: rgb(245,140,178);
}
.class13{
    background-color: rgb(244,123,166);
}
.class14{
    background-color: rgb(243,106,152);
}
.class15{
    background-color: rgb(244,90,139);
}
.class16{
    background-color: rgb(238,62,128);
}


















